{% extends 'blog/base.html' %}

{% block content %}
    <h1>Изменение статуса пользователя</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Сохранить</button>
    </form>
{% endblock %}