<html>
    <head>
    <style>
        .line{
            border: 1px solid black;
            padding: 0 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            background-color: #edecd6;
        }
    </style>
    </head>
    <body>
        {% if user.is_authenticated %}
            <a class="line" href="{% url 'question_new' %}">Создать новый вопрос</a>
            <a class="line" href="{% url 'category_new' %}">Создать новую категорию</a>
            <a class="line" href="{% url 'user_update' pk=user.pk %}">Обновить статус пользователя</a>
            <a class="line" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a class="line" href="{% url 'login' %}">Войти</a>
        {% endif %}
        {% block content %}
        {% endblock %}
        <br>
        <div><a class="line" href="{% url 'question_list' %}">Ко всем вопросам</a></div>
    </body>
</html>