{% extends 'blog/base.html' %}

{% block content %}
    <div class="line">
        <form method="get" action="{% url 'question_list' %}">
            <p>
                <label for="id_q">Поиск по категории: </label>
                <input type="text" name="q" id="id_q" value="{{ query }}" />
                <input type="submit" value="Поиск" />
            </p>
        </form>
    </div>
    {% if questions.count == 0 %}
        <div>Вопросы не найдены</div>
    {% endif %}
    {% for question in questions %}
        <div class="line">
            <h1><a href="{% url 'question_detail' pk=question.pk %}"> {{ question.title }} </a></h1>
            <div>
                Категории:
                {% if question.category.count == 0 %}
                    нет
                {% else %}
                    {% for category in question.category.all %}
                        {{ category }},
                    {% endfor %}
                {% endif %}
            </div>
            {% if question.answer %}
                <h3 class="line"> {{ question.answer }} </h3>
            {% else %}
                <h3 class="line"> Ответа нет </h3>
            {% endif %}
            <div> Вопрос задан: {{ question.author }} </div>
            <div> {{ question.created_date }} </div>
        </div>
    {% endfor %}
{% endblock %}