{% extends 'blog/base.html' %}

{% block content %}
    <h1>Удаление вопроса</h1>
    <form method="POST">
        {% csrf_token %}
        <p>Вы точно хотите удалить "{{ object }}"?</p>
        <input type="submit" value="Подтвердить">
    </form>
{% endblock %}