{% extends 'blog/base.html' %}

{% block content %}
    <div class="line">
        <h1><a href="{% url 'question_detail' pk=question.pk %}"> {{ question.title }} </a></h1>
        <div class="line"> Категории:
        {% if question.category.count == 0 %}
            нет
        {% else %}
            {% for category in question.category.all %}
                {{ category }},
            {% endfor %}
        {% endif %}

        </div>
        <div class="line">
            {% if question.answer %}
                <h3> {{ question.answer }} </h3>
                <div> Ответил: <b>{{ question.answer.author }}</b></div>
                <div>  {{ question.answer.created_date }}</div>
                <br>
                <br>
            {% elif user.isManager %}
                {% if user.is_authenticated %}
                    <br>
                    <div><a href="{% url 'answer_edit' pk=question.pk %}">Добавить ответ</a></div>
                    <br>
                {% endif %}
            {% else %}
                <br>
                <div>Ответа нет</div>
                <br>
            {% endif %}
        </div>
        <div> Вопрос задан: <b>{{ question.author }}</b> </div>
        <div> {{ question.created_date }} </div>
        <br>
        <div class="line">
            {% if comments.count == 0 %}
                <div>Комментариев нет</div>
            {% else %}
                <div>Комментарии:</div>
                {% for comment in comments %}
                    <div class="line">
                        <div><b>{{ comment.author }}</b></div>
                        <div>{{ comment.text }}</div>
                        <div><b>{{ comment.created_date.date }} {{ comment.created_date.time }} </b></div>
                    </div>
                {% endfor %}
            {% endif %}
            {% if user.is_authenticated %}
                <div><a href="{% url 'comment_create' pk=question.pk %}">Добавить</a></div>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div><a href="{% url 'question_edit' pk=question.pk %}">Редактировать</a></div>
            <div><a href="{% url 'question_delete' pk=question.pk %}">Удалить</a></div>
        {% endif %}
    </div>
{% endblock %}